.footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align all items in the center */
    justify-content: center; /* Center vertically */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem; /* Space between icons */
}

.footer-icon {
    font-size: 1.5rem;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icon:hover {
    transform: scale(1.);
    color: #f39c12;
}
.footer-copyright {
    font-size: 1rem;
    justify-content:right;
    /* Add spacing from other content */
}
/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Stack items vertically for smaller screens */
    }

    .footer-socials,
    .footer-contact {
        flex-direction: row; /* Ensure items stay in one row */
        flex-wrap: wrap; /* Allow wrapping for smaller screens */
    }
}
